/* styles.css*/

body {
    background-color: beige;
}

h1 {
    text-align: center;
    color: black;
    background-color: skyblue;
}

ul {
    color: black;
    margin-left: 50px;
}

li {
    padding: 5px;
}